<fa-icon class="info" [icon]="faInfoCircle"></fa-icon>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <!--<div class="card-header">Por Referencia</div>-->
  <div class="card-body text-info">
    <h5 class="card-title">Comunicación por Referencia</h5>
    <p class="card-text">Usar cuando los componentes tienen dependencia entre ellos.</p>
    <p class="card-text">Por ejemplo, menú desplegable y el botón que lo activa.</p>
    <p class="card-text">Ya que no pueden existir el uno sin el otro.</p>
  </div>
</div>